body
{
	background: rgb(24, 24, 24);
	color: white;
	margin: 0px;
	padding: 0px;
}
h1 {
	color: aqua;
	font-family: Arial, Helvetica, sans-serif;
	padding:20px; 
}
h2
{
	font-family: Arial, Helvetica, sans-serif;
}
button
{
	font-family: Arial, Helvetica, sans-serif;
	border-color: aqua;
	background-color: black;
	border-radius: 10px;
	padding: 5px;
	color: white;
	font-size: 15px;
	
}
.navs
{
	background: black;

}
ul{
	display: inline-block;
	list-style: none;
	margin: 0px;
	padding: 0px;
	margin-top:10px;
	
}

li{
	display: inline-block;
	font-size: 18px;
	font-family: Arial, Helvetica, sans-serif;
	
}
.nav_pages
{
	padding-top: 10px;
	margin-left: 10px;
	margin-right: 10px;
}
.nav_pages ul li a{
	color: white;
	text-decoration: none;
	padding: 10px;
	font-size: 16px;
}
.nav_pages ul li a:hover{
	color: black;
	padding: 10px;
	background: white;
	border-radius: 5px;
	font-size: 16px;
	text-decoration: none;
}

.ul_auth
{
	float: right;
}

