body{
    font-family:Helvetica;
    background: #cdcdcd;
    margin: 0;
}

header
{
    background: #999;
    color: #fff;
    padding: 10px;
}

header h1 {
    margin: 0;
    display: inline;
    padding: 10px;
}

nav ul
{
    display: inline;
    margin: 0 50 0 0;
    float: right;
}

h2{
    color: #fff;
}

p{
    color: #666;
}
nav ul li 
{   display: inline-block;
    list-style-type: none;
    padding: 8px;
    border-radius: 8px;
    background: #ffffff;
    
}

nav ul li a
{
    color: #a0a0a0;
}

.row
{
}

.col
{   
    background: #fff;
    color: #000;
    padding: 0 10px;
    width: 27%;
    border-radius: 5px;
    margin: 2% ;
    float: left;
}     
footer
{
    clear: both;
}