body
		{
			background: rgb(24, 24, 24);
			color: white;
			margin: 0px;
			padding: 0px;
		}
		h1 {
			color: aqua;
			font-family: Arial, Helvetica, sans-serif;
			padding:20px; 
		}
		h2
		{
			font-family: Arial, Helvetica, sans-serif;
		}
		button
		{
			font-family: Arial, Helvetica, sans-serif;
			border-color: aqua;
			background-color: black;
			border-radius: 10px;
			padding: 5px;
			color: white;
			font-size: 15px;
			
		}
		header
		{
			background: black;
		}
		ul{
			display: inline-block;
			list-style: none;
			margin: 0px;
			padding: 0px;
			margin-top:10px;
			
		}
		
		li{
			display: inline-block;
			margin-left:20px;
			font-size: 18px;
			font-family: Arial, Helvetica, sans-serif;
			
		}
		a{
			color: white;
			text-underline-position: none;
		}