body
{
	background: #000000;
	color: white;
	font-family: Courier,Arial, Helvetica, sans-serif;
}

.container 
{
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.container p
{
	font-size: 3rem;
	font-weight: bold;
	letter-spacing: 0.1rem;
	text-align: center;
	overflow: hidden;
	padding: 0.5rem;
}

.typed-text
{
	font-weight: bold;
	color: #00ff00;
}

.loader-cursor
{
	display: inline-block;
	width: 3px;
	background-color: white;
	margin-left: 0.1rem;
}

@keyframes blink {
	0% {background-color: white;} 
	49% {background-color: white;} 
	50% {background-color: transparent;}
	99% {background-color: transparent;}
	100% {background-color: white;} 
}

.text
{
	color: white;
}

.text-cursor
{
	display: inline-block;
	width: 3px;
	background-color: white;
}

.list-cmd-span
{
	color: white;
}
.list-cmd-cursor
{
	display: inline-block;
	width: 3px;
	background-color: white;
}

.cmd-class
{
	color: #00ff00;
	letter-spacing: 0.1rem;
}
.cmd-cursor
{
	display: inline-block;
	width: 3px;
	background-color: white;
}