.toolbar-list {
  list-style-type: none;
  text-align: end;

  li {
    flex-grow: 1;
    display: inline;
    div {
      cursor: pointer;
      display: inline;
      text-decoration: none;
      color: var(--font-color);
      font-size: var(--content-text-font-size);
      font-weight: 500;
      margin-left: 2rem;
      transition: all 0.1s ease-in-out;
      &:hover{
        color: var(--highlight-color);
      }
    }
  }
}

:host ::ng-deep .button-wrapper {
  display: inline;
  text-align: center;
  margin-left: 2rem;
}


.toolbar-wrapper {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  height: var(--nav-height);
}

.toolbar-logo {
  width: 40px;
  height: 40px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  &:hover {
    -webkit-filter: drop-shadow(0 0 2px var(--highlight-color));
  }
}

