@import "../../variables";

.toolbar-list {
  list-style-type: none;
  text-align: end;
  padding: 0;

  ul {
    margin: 0;
    padding: 0;
  }

  li {
    flex-grow: 1;
    display: inline;
    a {
      text-decoration: none;
      color: black;
      font-size: $content-text-font-size;
      font-weight: 500;
      letter-spacing: 0.6px;
    }
  }

  li:nth-child(1) {
    margin-right: 2rem;
    padding: 1rem;
  }

  li:nth-child(2) {
    padding: 1rem 0 1rem 1rem;
  }
}
