section {
  display: flex;
  width: var(--section-max-width);
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);

  .home-salutation {
    color: var(--highlight-color);
    text-align: start;
    font-size: var(--content-text-high-font-size);
  }
  .home-name {
    margin-top: 0.4rem;
    font-weight: 500;
    font-size: var(--bold-content-title-font-size);
    color: var(--title-priority-1);
  }
  .home-tagline {
    font-size: var(--content-title-font-size);
    color: var(--title-priority-2);
  }
  .home-intro {
    margin-top: 0.6rem;
    max-width: 500px;
    text-align: start;
    font-size: var(--content-text-high-font-size);
    line-height: 26px;
  }
}

:host ::ng-deep  .button-wrapper {
  margin-top: 4rem;
  display: block;
  width: 200px;
  text-align: center;
  padding: 1.4rem 0;
}
