<mat-drawer-container>
  <mat-drawer [mode]="'over'" [opened]="isDrawerOpen" position="end">asdasd
  </mat-drawer>
  <mat-drawer-content id="top-view" class="app-body">
    <div class="content">
      <app-toolbar [toolbarMenuList]="toolbarMenuList"></app-toolbar>
      <app-header></app-header>
      <app-content-block [contentData]="aboutMeContent"></app-content-block>
      <app-content-block
        id="projects"
        [contentData]="projectContent"
      ></app-content-block>
      <app-content-block [contentData]="blogContent"></app-content-block>
    </div>
    <app-footer [footerActions]="footerContent" (footerEventEmitter)="onFooterEvent($event)"></app-footer>
  </mat-drawer-content>
</mat-drawer-container>
