.content {
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
  background-color: var(--background-color);
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  app-toolbar {
    width: 100%;
    position: fixed;
    padding: 0 50px;
    transition: top 0.3s;
    z-index: 1;
  }

  .left-side-nav {
    opacity: 0;
    position: fixed;
    bottom: 0;
    left: 58px;
    animation: fadeIn 0.5s ease-in 1s forwards;
  }

  .right-side-nav {
    opacity: 0;
    position: fixed;
    bottom: 0;
    right: 61.5px;
    animation: fadeIn 0.5s ease-in 1s forwards;
  }
}

app-home {
  opacity: 0;
  animation: dropInFromBelow 0.5s ease-in forwards;
}

.content-pages {
  width: 100%;
  display: flex;
  justify-content: center;
  main {
    max-width: var(--screen-max-width);
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.app-info {
  text-align: center;
  color: black;
  padding: 0.2rem 0;
}

.enter-animation{
  animation: dropInFromAbove 0.5s ease-in both;
}

.exit-animation{
  animation: pickOutFromBelow 0.5s ease-in both;
}