<!-- <div class="app-info">DEVELOPMENT IN PROGRESS</div> -->
<div class="content" id="top-view" (scroll)="onScroll($event)">
  <app-toolbar
    [ngClass]="[isToolbarVisible ? 'enter-animation' : 'exit-animation']"
    (toolbarEmitter)="onToolbarEvent($event)"
  ></app-toolbar>
  <app-sidenav
    class="left-side-nav"
    [sideNavActions]="leftSideNavItems"
  ></app-sidenav>
  <app-sidenav class="right-side-nav"></app-sidenav>
  <div class="content-pages">
    <main>
      <app-home></app-home>
      <app-about id="main-about"></app-about>
      <app-experience id="main-experience"></app-experience>
      <app-work id="main-work"></app-work>
      <app-contact id="main-contact"></app-contact>
      <app-footer></app-footer>
    </main>
  </div>
</div>
