<mat-drawer-container>
  <mat-drawer
    #drawer
    [mode]="'over'"
    [opened]="isDrawerOpen"
    position="end"
    (openedChange)="isDrawerOpen = $event"
    >Sample Drawer
  </mat-drawer>
  <mat-drawer-content class="app-body">
    <div class="content" id="top-view">
      <app-toolbar [toolbarMenuList]="toolbarMenuList" (toolbarEmitter)="onToolbarEvent($event)"></app-toolbar>
      <app-header></app-header>
      <app-content-block [contentData]="aboutMeContent" (contentEventEmitter)="onContentEvent($event)"></app-content-block>
      <app-content-block
        id="projects"
        [contentData]="projectContent"
      ></app-content-block>
      <app-content-block [contentData]="blogContent"></app-content-block>
    </div>
    <app-footer
      [footerActions]="footerContent"
      (footerEventEmitter)="onFooterEvent($event)"
    ></app-footer>
  </mat-drawer-content>
</mat-drawer-container>
