.app-body {
  width: 100%;
  background-color: #f2f2f2;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  .content {
    width: 80%;
    padding: 2rem 0;
    max-width: 1320px;
  }
}
