
$site-background: #f2f2f2;
$gradient-start-color: #da2b2b;
$gradient-end-color: #1c5ec1;
$card-action-text-color: #000000;
$footer-background-color:#A0A0A0;

$content-text-font-size:1rem;
$content-text-high-font-size:1.2rem;
$content-sub-title-font-size:1.4rem;
$content-title-font-size:4rem;
$bold-content-title-font-size:8rem;

$screen-max-width: 1320px;