<div class="header-wrapper">
  <img class="header-img" src="assets/profile.png" />
  <div class="header-left-wrap">
    <div class="header-text-wrap">
      <h1>Hello, I'm <span>Elson</span></h1>
      <h3>
        A passionate software engineer who loves creating & managing projects.
      </h3>

      <ul>
        <li><img src="https://cdn-icons-png.flaticon.com/512/37/37452.png" alt="StackOverflow logo" /></li>
        <li><img src="https://cdn-icons-png.flaticon.com/512/733/733609.png" alt="Github logo" /></li>
        <li><img src="https://cdn-icons-png.flaticon.com/512/1384/1384088.png" alt="LinkedIn logo" /></li>
        <li><img src="https://cdn-icons-png.flaticon.com/512/3178/3178165.png" alt="Mail logo" /></li>
      </ul>
    </div>
  </div>
</div>
