<div class="main-project-container">
  <div
    [ngClass]="[
      'main-project-image-container',
      index % 2 == 0 ? 'img-content-right' : 'img-content-left'
    ]"
  >
    <img src="{{ work.image }}" alt="work.title" />
  </div>
  <div
    [ngClass]="[
      'main-project-content-container',
      index % 2 == 0 ? 'text-content-left' : 'text-content-right'
    ]"
  >
    <h2>
      {{ work.title }}
    </h2>
    <p>
      {{ work.description }}
    </p>
    <div class="main-project-links">
      <a *ngFor="let link of work.links" href="{{ link.url }}" target="_blank"
        ><img src="{{ link.image }}" alt=""
      /></a>
    </div>
  </div>
</div>
