.main-project-container {
  width: var(--section-max-width);
  margin-top: 2em;
  height: 404px;
  position: relative;
  display: flex;
  .main-project-image-container {
    width: var(--project-image-width);
    position: absolute;
    img {
      width: 100%;
      height: 100%;
      border-radius: 0.4rem;
    }
  }
  .main-project-image-container::before {
    content: "";
    width: var(--project-image-width);
    background: var(--highlight-light-color);
    display: block;
    position: absolute;
    height: 400px;
    transition: all 0.2s linear;
    border-radius: 0.4rem;
  }
  .main-project-image-container:hover:before {
    background: none;
  }
  .main-project-content-container {
    max-width: var(--project-content-max-width);
    height: 404px;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    h2 {
      font-size: var(--page-title-font-size);
      color: var(--title-priority-1);
      font-weight: 500;
    }
    p {
      margin-top: 1rem;
      background-color: var(--project-description-background-color);
      padding: 1rem 2rem;
      box-shadow: 10px 10px 20px 0px var(--project-description-background-color);
    }
    .main-project-links {
      margin-top: 2rem;
      img {
        width: 24px;
        height: 24px;
        cursor: pointer;
      }
      img:hover {
        -webkit-filter: drop-shadow(0 0 4px var(--title-priority-1));
      }
    }
  }
}

.img-content-right {
  right: 0;
}

.img-content-left {
  left: 0;
}

.text-content-left {
  left: 0;
  align-items: start;
}

.text-content-right {
  right: 0;
  align-items: end;
}
