.url-text {
  text-decoration: none;
  color: #2478e7;
}

:root {
  --background-color: #0a192f;
  --highlight-color: #007fff;
  --title-priority-1: #ffffff;
  --title-priority-2: #8892b0;
  --font-color: #a7aec4;
  --highlight-tint-color: #4da5ff;

  --content-text-font-size: 1rem;
  --content-text-high-font-size: 1.2rem;
  --content-sub-title-font-size: 1.4rem;
  --content-title-font-size: 5rem;
  --bold-content-title-font-size: 6rem;

  --nav-height:100px;
  --screen-max-width: 1600px;
  --section-max-width:1000px;
}


*{
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
  color: var(--font-color);
  a{
    text-decoration: none;
    color: var(--highlight-color);
  }
}


