.button-wrapper {
  text-align: center;
  border-radius: 0.25rem;
  font-weight: 500;
  font-size: var(--content-text-font-size);
  border: solid 2px var(--highlight-color);
  color: var(--highlight-color);
  cursor: pointer;
  transition: all 0.1s ease-in-out;

  &:hover {
    background-color: var(--highlight-tint-color);
  }
}
