@import "../../variables.scss";

.content-block-wrapper {
  display: flex;
  flex-flow: column nowrap;
  margin-top: 4rem;

  h1,
  h4,
  p {
    margin: 0;
    padding: 0;
  }

  .content-title {
    font-weight: 500;
    font-size: 3rem;
    margin-bottom: 2rem;
  }

  .content-description {
    font-size: 1.2rem;
    margin-bottom: 1.4rem;
    color: rgba($color: #000000, $alpha: 1);
  }

  .block-wrapper-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, 13%);
    justify-content: space-between;
    margin-top: 1rem;
  }

  .block-wrapper-flex {
    display: flex;
    margin-top: 1rem;
  }

  .chip {
    display: flex;
    align-items: center;
    padding: 0.4rem 2rem;
    margin-right: 1rem;
    background: linear-gradient($site-background, $site-background) padding-box,
      linear-gradient(to right, $gradient-start-color, $gradient-end-color)
        border-box;
    border-radius: 1rem;
    border: 2px solid transparent;
    .chip-icon {
      width: 32px;
      height: 32px;
    }
    .chip-title {
      display: inline;
      margin: 0;
      padding: 0;
      margin-left: 0.4rem;
      font-size: 1rem;
    }
  }

  .card {
    display: flex;
    flex-flow: column nowrap;
    padding: 0.4rem 1rem;
    background: linear-gradient($site-background, $site-background) padding-box,
      linear-gradient(to right, $gradient-start-color, $gradient-end-color)
        border-box;
    border-radius: 1rem;
    border: 2px solid transparent;
    .card-title {
      font-size: 1.4rem;
      padding: 0.8rem 0;
    }
    .card-desc {
      font-size: 1.2rem;
    }

    .card-button {
      margin: 1rem auto;
      color: white;
      font-size: 1rem;
      border-radius: 1rem;
      background-color: $card-action-text-color;
    }
  }
}
