@import "../../variables";

.footer-wrapper {
  padding: 4rem 0;
  margin-top: 4rem;
  width: 100vw;
  background-color: $footer-background-color;
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  .footer-content-wrapper {
    width: 80%;
    max-width: $screen-max-width;
    display: flex;
    justify-content: space-between;
    align-content: center;
    div {
      text-decoration: none;
      font-size: $content-sub-title-font-size;
      color: #000000;
      font-weight: 500;
      cursor: pointer;
    }
  }
}
