.about-content-wrapper {
  display: flex;
  flex-flow: row wrap;
  margin: 2rem 0;
  .about-left-container,
  .about-right-container {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .about-left-container {
    flex-flow: column;
    p:nth-child(2n) {
      margin: 2rem 0;
    }
  }
  .about-right-container {
    .photo-container {
      max-width: 50%;
      position: relative;
      z-index: 1;
      img {
        margin-top: -10px;
        max-width: 100%;
        border-radius: 1rem;
      }
    }

    .photo-container:before {
      content: "";
      position: absolute;
      top: 0;
      bottom: 4px;
      left: 0;
      right: 0;
      border-radius: 1rem;
      margin-top: -10px;
      background: var(--highlight-tint-color);
      transition: all 0.2s linear;
    }

    .photo-container::after {
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
      top: 10px;
      left: 10px;
      border-radius: 1rem;
      border: 4px solid var(--highlight-color);
      z-index: -1;
      transition: all 0.2s linear;
    }

    .photo-container:hover {
      &:before {
        background: none;
      }
      &::after {
        top: 15px;
        left: 15px;
      }
    }
  }
}
