<section class="section-page">
  <app-nav-title [index]="'1.'" [title]="'A Little About Me'"></app-nav-title>
  <div class="about-content-wrapper section-content-wrapper">
    <div class="about-left-container">
      <p>
        Hello, my name is Elson and I’m developer from India, who is keen to
        learn and work in diverse projects.
      </p>
      <p>
        I used to freelance during my college days as a mentor and developing
        projects which helped to cultivate crucial skills such as understanding
        the customer requirement, transforming a requirement to a solution and
        finally the fun part, the coding.
      </p>
      <p>
        Fast forward today, I’m working for a software company in India as
        full-stack developer after graduating with a Computer Science Degree in
        2021.
      </p>
    </div>
    <div class="about-right-container">
        <div class="photo-container">
            <img src="assets/profile.jpg" alt="Profile Photo">
        </div>
    </div>
  </div>
</section>
