section {
  .home-salutation {
    color: var(--highlight-color);
    text-align: start;
    font-size: var(--content-text-high-font-size);
  }
  .home-name {
    margin-top: 0.4rem;
    font-weight: 500;
    font-size: var(--bold-content-title-font-size);
    color: var(--title-priority-1);
  }
  .home-tagline {
    font-size: var(--content-title-font-size);
    color: var(--title-priority-2);
  }
  .home-intro {
    margin-top: 0.6rem;
    max-width: 500px;
    text-align: start;
    a{
      position: relative;
    }
  }
}

:host ::ng-deep  .button-wrapper {
  margin-top: 4rem;
  display: block;
  width: 200px;
  text-align: center;
  padding: 1rem 2rem;
}
