<section class="section-page experience-wrapper">
  <app-nav-title [index]="'2.'" [title]="'Where I’ve Worked'"></app-nav-title>
  <div class="experience-container section-content-wrapper">
    <div class="experience-left-container">
      <ul>
        <li
          class="company-item"
          *ngFor="let company of companies; let i = index"
          [ngClass]="
            selectedCompanyIndex === i ? 'selected-company' : 'company'
          "
          (click)="
            selectedCompanyIndex = i;
            selectedCompany = companyInfo[selectedCompanyIndex]
          "
        >
          {{ company }}
        </li>
      </ul>
    </div>
    <div class="experience-right-container">
      <h2 class="experience-title">
        {{ selectedCompany.role }} {{ selectedCompany.connector }}
        <a
          href="{{ selectedCompany.institutionUrl }}"
          class="animate-underline"
          target="_blank"
          >{{ selectedCompany.institutionName }}</a
        >
      </h2>
      <p class="experience-duration">
        {{ selectedCompany.workDuration }}
      </p>
      <ul class="experience-responsibility">
        <li *ngFor="let responsibility of selectedCompany.responsibilities">
          <p>{{ responsibility }}</p>
        </li>
      </ul>
    </div>
  </div>
  <app-nav-title [title]="'Awards & Recognition'"></app-nav-title>
  <ul class="experience-awards">
    <app-note-point
      *ngFor="let notePoint of notePoints"
      [title]="notePoint.title"
      [subTitle]="notePoint.subTitle"
      [note]="notePoint.note"
    ></app-note-point>
  </ul>
</section>
