.experience-container {
  margin-top: 4rem;
  margin-bottom: 4rem;
  .experience-left-container {
    max-width: 30%;
    min-height: 270px;
    ul {
      li {
        height: 4rem;
        list-style-type: none;
        font-size: var(--content-text-high-font-size);
        padding-right: 1rem;
      }
      li:before {
        content: "";
        display: inline-block;
        height: 4rem;
        width: 6px;
        vertical-align: -100%;
        margin-right: 1rem;
        transition: all 0.2s linear;
      }
    }
  }
  .experience-right-container {
    flex-grow: 1;
    padding-left: 3rem;
    max-width: 70%;
    .experience-title {
      color: var(--title-priority-2);
      font-weight: 500;
    }
    .experience-duration {
      margin: 1rem 0;
    }
    .experience-responsibility {
      li {
        &::marker {
          content: url("./../../../..//assets/bullet.svg");
        }
        p {
          margin-left: 2rem;
          margin-top: 0.6rem;
        }
      }
    }
  }
}

.experience-wrapper{
  min-height: var(--one-half-screen-height);
}

.experience-awards {
  margin-top: 4rem;
}

.company-item {
  cursor: pointer;
  transition: all 0.2s linear;
  &:hover {
    background-color: var(--highlight-tint-color);
  }
}

.selected-company {
  &:before {
    background-color: var(--highlight-color);
  }
  color: var(--highlight-color);
}

.company {
  opacity: 0.6;
  &:before {
    background-color: var(--highlight-tint-color);
  }
}
